.SignUp {
display: flex;
justify-content: center;
>div{
    width: 30rem;
    margin-top: .5rem;
    }
h1{
    text-align: center;
    }
h2{
    text-align: center; 
}
button {
    width: 100%;
    margin-top: 2rem;
    }
span {
    padding: 0rem;
}
form{
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 0px;
}


}

@media (max-width: 770px) {
    .SignUp {

        >div{
            margin: 0px;
            padding: 13px;
        }
        button {
            margin-top: 0;
            }
            h1{
                font-size: 30px;
                margin: 0px;
            }
            h2{
                font-size: 20px;
                margin: 0px;
            }
    }
}