
.Loyout {
    display: flex;
    flex-direction: column;
    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        }
  }

  @media (max-width: 770px) {
    .Loyout { 
    
        margin: 0rem;
        padding: 0px;
        main {
            margin: 0rem;
            padding: 0px;
            }
      }
}

