.ItemStatusFilter{
    padding: 1rem;
    button {
        display: 'flex';
        margin-right: .2rem;
        margin-bottom: .5rem; 
    }
}

@media (max-width: 770px) {
    .ItemStatusFilter{
        padding: 0rem;
        button {
            display: 'flex';
            justify-content: center;
            align-items: center;
            margin: 2px;
            margin-bottom: 10px; 
            margin-top: 10px; 
            width: auto;

            padding: 5px;
        }
    }
}