.Login {
display: flex;
justify-content: center;
>div{
width: 30rem;
margin-top: 3rem;
}
h1{
    text-align: center;
}
button {
    width: 100%;
}

form{
    font-family: Arial, Helvetica, sans-serif;
}
}