.TasksPage{
height: 100%;
    .AlignItem{
        display: flex;
    }
}


@media (max-width: 770px) {
    .TasksPage{
            .AlignItem{
                flex-direction: column;

            }
        }
}